h1 {

    font-family: serif;
}

#page-title {

    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
}

.title {

    font-size: 18px;
    font-family: monospace;
}

.aprende {

    background-color: crimson;
}

.nav a {

    background-color: chocolate;
    color:cornsilk
}

.nav .aprende {

    background-color: blue;
    color:white
}


