h1 {

   color:sienna
}
/* Este indica una etiqueta */
p {

   color:slateblue
}

/* Este es para una clase */
.parrafo {

   color:tomato
}

/* Este es para un ID */
#parrafodos {

   color:yellowgreen
}