h1 {

   color:sienna
}
/* Este indica una etiqueta */
p {

   color:slateblue
}

/* Este es para una clase */
.parrafo {

   font-size: 19px;
   color:tomato

}

/* Este es para un ID */
#parrafodos {
   font-family: monospace; 
   /* esto indica la fuente */
   color:yellowgreen
}
